html,body{
    background-color: white;
    margin:0;
    height: 100%;
    padding: 0;
   
    
}
.Page-container{
    
    display:grid;
    height: 100%;
    grid-template-columns: 1fr 6fr;
    grid-template-rows:auto 2fr ;
    grid-template-areas: "h h"
                         "sb m";
   
    

}

.search-bar{
    display: flex;
    margin-left: 600px;
    border: 3px solid white;
    border-radius: 6px;
}
#search{
    width: 300px;
}
.fa-search{
    background-color: white;
    width:20px;
    padding: 6px;
    
}
.sidebar{
    
    
    grid-area: sb;
    height: 100%;
    /* background-color: #e8bcb9;  */
    border-right: 2px ridge rgba(0,0,0,0.75);
    box-shadow: 0 0  2rem rgba(0,0,0,0.75);
    background: rgb(29,26,57);
    background: linear-gradient(176deg, rgba(29,26,57,1) 0%, rgba(69,25,82,1) 42%, rgba(102,37,73,1) 100%);
    
    
}

.sidebar nav{

    margin-top: 100px;
}

.sidebar nav ul li {
    display: flex;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
    flex-direction: column;
    list-style: none;
}

.sidebar nav ul li a{
    cursor: pointer;
    text-decoration: none;
    color:white;
    padding: 10px 10px;
    margin-right:20px;
}
.sidebar nav ul li a:hover{
    cursor: pointer;
    margin-right:20px;
   
    text-decoration: none;
    color:black;
    background-color: rgb(212, 181, 3);
    padding: 10px 10px;
    border-radius: 5px;
}
.sidebar nav ul li a.active
{
    
    margin-right:20px;
    text-decoration: none;
    color:black;
    background-color: rgb(212, 181, 3);
    padding: 10px 10px;
    border-radius: 5px;
    border:5px;
    border-color:rgb(212, 181, 3) ;
    box-shadow: 0 0 2rem rgb(212, 181, 3);
}
.nav-stripe{
    display: none;
    }
.head{
    
    
    grid-area: h;
    display: flex;
    /* background-color:#15103f;  */
    /* border-bottom: 2px ridge rgba(255,255,255,0.75); */
    align-items: center;
    background: rgb(29,26,57);
    background: linear-gradient(0deg, rgba(29,26,57,1) 0%, rgba(69,25,82,1) 42%, rgba(102,37,73,1) 100%);
}
#logo{
    width: 80px;
    height:80px;
    padding: 10px 10px;
}
#web-t{
    color:#dbd8e3;
    border: 2px;
}

.main *{
    margin: 0;
}
.main{
   
    grid-area: m;
    overflow-y: auto;
    

    }
    
    




/* Width, color and background of the scrollbar track */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  /* Handle on drag */
  ::-webkit-scrollbar-thumb:active {
    background: #888;
  }
  
  /* Scrollbar track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }


 
    
    
    
    
    
    
        
        @media (max-width:600px) {

            html,body{
                background-color: white;
                margin:0;
                height: 100%;
                padding: 0;    
            }
            .Page-container {
                display: grid;
                height: 100%;
                grid-template-columns: 6fr;
                grid-template-rows: 100px 3fr;
                align-content: baseline;
                grid-template-areas: "h" "m";
            }
            
            .search-bar{
                display: flex;
                margin-left: 2%;
                border: 3px solid white;
                border-radius: 6px;
                width: 22%;
                margin-left: 20%;
                
             
            }
            #search{
                width: 50px;
            }
            .fa-search{
                background-color: white;
                width: 30%;
                padding: 2px;
                
                
            }
            .sidebar{
                display: none;
            }
            /* .sidebar{
                
                
                grid-area: sb;
                height: 100%;
                display: none;
               
                border-right: 2px ridge rgba(0,0,0,0.75);
                box-shadow: 0 0  2rem rgba(0,0,0,0.75);
                background: rgb(29,26,57);
                background: linear-gradient(176deg, rgba(29,26,57,1) 0%, rgba(69,25,82,1) 42%, rgba(102,37,73,1) 100%);
                
                
            }
            
            .sidebar nav{
            
                margin-top: 100px;
            }
            
            .sidebar nav ul li {
                display: flex;
                margin-bottom: 20px;
                padding: 10px 10px 10px 10px;
                flex-direction: column;
                list-style: none;
            }
            
            .sidebar nav ul li a{
                cursor: pointer;
                text-decoration: none;
                color:white;
                padding: 10px 10px;
                margin-right:20px;
            }
            .sidebar nav ul li a:hover{
                cursor: pointer;
                margin-right:20px;
            
                text-decoration: none;
                color:black;
                background-color: rgb(212, 181, 3);
                padding: 10px 10px;
                border-radius: 5px;
            }
            .sidebar nav ul li a.active
            {
                
                margin-right:20px;
                text-decoration: none;
                color:black;
                background-color: rgb(212, 181, 3);
                padding: 10px 10px;
                border-radius: 5px;
                border:5px;
                border-color:rgb(212, 181, 3) ;
                box-shadow: 0 0 2rem rgb(212, 181, 3);
            } */
            .nav-stripe{
                display: block;
                background-color: transparent;
                border: 2px solid transparent;
                color: white;
                }
               
            .head{
                
                /* width: 50%; */
                grid-area: h;
                display: flex;
                /* background-color:#15103f;  */
                /* border-bottom: 2px ridge rgba(255,255,255,0.75); */
                align-items: center;
                background: rgb(29,26,57);
                background: linear-gradient(0deg, rgba(29,26,57,1) 0%, rgba(69,25,82,1) 42%, rgba(102,37,73,1) 100%);
            }
            #logo{
                width: 15%;
                height:50%;
                padding: 10px 10px;
            }
            #web-t{
                display: flex;
                margin-bottom: 0px;
                color:#dbd8e3;
                border: 2px;
            }
            
            .main *{
                margin: 0;
            }
            .main{
            
                grid-area: m;
                overflow-y: auto;
                
            
                }
                
                
            
            
            
            
            /* Width, color and background of the scrollbar track */
            ::-webkit-scrollbar {
                width: 10px;
            }
            
            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }
            
            /* Handle on drag */
            ::-webkit-scrollbar-thumb:active {
                background: #888;
            }
            
            /* Scrollbar track */
            ::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
            
            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: #888;
            }
            
            
            
                
        
            
        }
    
    
    
    
    
    
    
  

